.circular--portrait {
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  height: 3rem;
  width: 3rem;
  /* width: 100%; */
  /* height: auto; */
}
.profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* align-items: center; */
}
.menu {
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
}
.menu select {
  width: 15em;
  height: 2rem;
}

#content {
  /* min-width: 100vh; */
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
.profile {
  text-align: right;
  margin-left: 100px;
}

.topbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  left: 20%;
  /* z-index: -20; */
}
